body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* heading */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.5;
}

.section-heading{
  line-height: 1.5;
  font-size: 3rem;
}

.container-fluid {
  padding: 5% 10%;
}

/* sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}

/* Navbar style */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title sectiom */
 #title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
/* Title image */
.title-image {
  height: 100%;
  width: 60%;
  transform: rotate(25deg);
  position: static;
}

/* feature section */
#features {
  z-index: 1;
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: bolder;
}

.featur-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
  }
}

/* call to action */

.cta-div {
  font-weight: bolder;
}

.cta-button {
  margin: 5% 3% 5% 0;
  padding: 5% 5%;
}

/* footer */
.social-icon {
  padding: 1% 1%;
}

.social-icon:hover{
  color: #ef8172;
}
